PORT=5000
MONGODB_URI=mongodb+srv://vanshkevalon_db_user:vanshkevalon2004@cluster0.mlptamz.mongodb.net/
JWT_SECRET=kevalon_super_secret_jwt_key_2026
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
NODE_ENV=development